.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 570px;
  max-height: 630px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333;
  padding: 2px;
  overflow: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.triangle {
  -webkit-transition: .3s;
  transition: .3s;
  border-style: solid;
  width: 0px;
  height: 0px;
  line-height: 0px;
  border-width: 0px 100px 100px 100px;
  border-color: transparent transparent #007bff transparent;
  _border-color: #000 #000 #007bff #000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.triangle1 {
  border-color: #ff4d4d transparent #ffc04d #a64da6;
  border-width: 100px 0px 100px 190px;
}

.triangle2 {
  border-color: #ffc04d transparent #4da6a6 #abddf1;
  border-width: 100px 0px 100px 190px;
}

.triangle3 {
  border-color: #4da6a6 transparent #ffc04d #ff4d4d;
  border-width: 100px 0px 100px 190px;
}

.triangle4 {
  border-color: #ff4d4d transparent #4da6a6 #a64da6;
  border-width: 100px 0px 100px 190px;
}

.triangle5 {
  border-color: #4da6a6 transparent #ffc04d #ff4d4d;
  border-width: 100px 0px 100px 190px;
}

.triangle6 {
  border-color: #ffc04d transparent #4da6a6 #a64da6;
  border-width: 100px 0px 100px 190px;
}

.triangle7 {
  border-color: #ff4d4d transparent #ffc04d #a64da6;
  border-width: 100px 0px 100px 190px;
}

.triangle8 {
  border-color: #ffc04d transparent #ff4d4d #abddf1;
  border-width: 100px 0px 100px 190px;
}

.triangle9 {
  border-color: #ff4d4d transparent #abddf1 #a64da6;
  border-width: 100px 0px 100px 190px;
}