.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 768px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333;
  padding: 2px;
  overflow: hidden;
}

.box:before {
  content: '';
  display: block;
  border: 3px solid #FF0000;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container > .row {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px dashed #ccc;
}

.container > .box {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(243, 21, 21, 0.5)), color-stop(0, transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(243, 21, 21, 0.5)), color-stop(0, transparent));
  background-image: linear-gradient(rgba(243, 21, 21, 0.5) 50%, transparent 0), linear-gradient(90deg, rgba(243, 21, 21, 0.5) 50%, transparent 0);
  background-size: 6rem 6rem;
}
